name: "Test"

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Test
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target newt \
            --test
